body {
  margin: 0;
  font-family: Prompt,-apple-system, BlinkMacSystemFont,sans-serif!important; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* ทำให้หน้าเว็บเต็มหน้าจอ */
  background-color: #F5F7F8 !important;
  overflow-y: scroll; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


::-webkit-scrollbar {
  width: 5px; 
}

/* สไตล์ของแถบ scrollbar */
::-webkit-scrollbar-track {
  background: #CEDEBD; 
}

/* สไตล์ของ handle (ส่วนที่เราสามารถลากและคลิก) ของ scrollbar */
::-webkit-scrollbar-thumb {
  background: #435334; 
}

/* เมื่อ hover ที่ handle */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

